/* #region Imports */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* #endregion */

/* #region root */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

:root {
    --blue: #177ac3;
    --green: #21cf64;
    --red: #ec3237;
    --yellow: #cec545;
    --gray: #d6d9dd;
    --white: #fbfdff;
    --hr-margin: 0.5rem;
    --hr-size: 2px;
    --post-card-width: 300px;
}

body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* #endregion */

/* #region Botão */

button {
    border: none;
    padding: 0.8rem 2rem;
    background: var(--green);
    border-radius: 10px;
    color: white;
    font-size: medium;
    text-transform: uppercase;
    cursor: pointer;
    transition: 50ms all;
}

button.blue {
    background: var(--blue);
}

button.red {
    background: var(--red);
}

button.yellow {
    background: var(--yellow);
}

button:hover {
    transform: scale(1.1);
    filter: brightness(0.8) contrast(1.3);
}

button:hover span {
    filter: brightness(5);
}

/* #endregion */

/* #region Header */

header {
    z-index: 1;
    position: fixed;
    min-width: 0;
    width: 100vw;
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    box-shadow: 0 4px 8px #00000050;
}

.header-box {
    height: 96px;
}

header .container {
    min-width: 0;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
}

header .logo {
    height: 100%;
    width: auto;
}

header .icon-btn {
    color: white;
    font-size: xx-large;
    transition: 50ms all;
    cursor: pointer;
}

header .icon-btn:hover {
    transform: scale(1.2);
}

/* #endregion */

/* #region SidebarModal */

header .modal {
    position: fixed;
    visibility: visible;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
}

header .modal.hide {
    visibility: hidden;
}

header .modal .bg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #00000066;
    opacity: 100%;
    visibility: visible;
    transition: opacity 500ms ease, visibility 0s 0s;
}

header .modal.hide .bg {
    opacity: 0%;
    visibility: hidden;
    transition: opacity 500ms ease, visibility 0s 500ms;
}

header .globe {
    position: absolute;
    width: 1px;
    height: 1px;
    background: #000;
    left: 100vw;
    top: 100vh;
    visibility: visible;
    transition: all 400ms ease-in-out;
}

header .modal.hide .globe {
    left: 150vw;
    top: 150vh;
    visibility: hidden;
}

header .globe .world {
    width: 60vw;
    height: 60vw;
    translate: -50% -50%;
    animation: rotation 10s linear infinite;
    user-select: none;
}

header .globe .seal {
    position: absolute;
    width: 30vw;
    height: auto;
    right: 0vw;
    bottom: 7.5vw;
    rotate: -20deg;
    user-select: none;
    animation: sticky 1s ease-in-out infinite;
}

.sidebar {
    position: fixed;
    width: 300px;
    height: 100vh;
    top: 0;
    left: 0;
    background: var(--blue);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: auto;
    transform: translateX(0);
    transition: all 500ms ease-in-out, height 0s, width 0s;
}

.sidebar.hide {
    transform: translateX(-100%);
}

.sidebar .logos {
    align-self: center;
    width: 60%;
    height: fit-content;
}

.sidebar .logos img {
    width: 100%;
    height: auto;
}

.sidebar hr {
    margin: var(--hr-margin) 0;
    border: calc(var(--hr-size) / 2) solid white;
}

.sidebar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sidebar ul li {
    width: fit-content;
    transition: all 50ms;
}

.sidebar ul li a {
    font-size: large;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.sidebar ul li i {
    font-size: x-large;
}

.sidebar ul li:hover {
    transform: scale(1.1);
    filter: drop-shadow(0px 5px 4px #00000030);
}

/* #endregion */

/* #region Footer */

footer {
    width: 100%;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--blue);
    color: white;
    font-size: 16px;
    text-align: center;
}

footer .container {
    min-width: 960px;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

footer .logos img {
    height: 90px;
    width: auto;
}

footer .logos hr {
    width: 100%;
}

footer hr {
    margin: var(--hr-margin) 0;
    border: calc(var(--hr-size) / 2) solid white;
}

footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

footer ul li,
footer ul li a {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    color: white;
}

footer ul li i {
    font-size: x-large;
}

/* #endregion */

/* #region Sections */

main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

section {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

main section:nth-child(odd) {
    background: var(--white);
}

main section:nth-child(even) {
    background: var(--gray);
}

section .container {
    width: 70%;
    height: fit-content;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

section .col,
section .row {
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: start;
    gap: 2rem;
}

section .container img {
    width: 50%;
    max-width: 500px;
    min-height: 70%;
    object-fit: cover;
    border-radius: 5px;
}

section .container a {
    color: var(--blue);
}

section .container a:visited {
    color: var(--blue);
}

section .container p {
    width: 50%;
    max-width: 500px;
    line-height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
}

section .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
}

section .col p {
    width: fit-content;
}

section .start p {
    justify-self: start;
}

section .end p {
    justify-self: end;
}

section .row img {
    width: 100%;
}

section .row p {
    width: 100%;
}

section .container h1 {
    font-size: xx-large;
}

section .col h1 {
    width: 100%;
}

.btw {
    justify-content: space-between !important;
}

section .start {
    justify-content: start;
    text-align: start;
}

section .end {
    justify-content: end;
    text-align: end;
}

.ts {
    text-align: start !important;
}

.te {
    text-align: end !important;
}

.tc {
    text-align: center !important;
}

/* #endregion */

/* #region Slider */

.swiper {
    z-index: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.slider-button-next,
.slider-button-prev {
    color: #177ac3;
    font-weight: 900;
    filter: drop-shadow(0 0 1px white);
    text-shadow: 0 0 1px white;
}

.swiper-pagination-bullet {
    background-color: #177ac3;
    opacity: 0.5;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    border-radius: 50%;
    border: 2px solid white;
}

.swiper-pagination-bullet-active {
    opacity: 1;
}

section .slider {
    width: 70%;
    height: 50vh;
}
.slider .swiper .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* #endregion */

/* #region CarrosselDePostagens */

section .post-carousel {
    z-index: 0;
    width: 70%;
    height: fit-content;
    overflow: hidden;
}

.post-carousel .swiper {
    width: calc(var(--post-card-width) * 2 + 40px);
}

.post-card {
    display: none;
    width: var(--post-card-width) !important;
    height: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: #f1f4f7;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 2px 6px 10px #00000030;
}

.post-card img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
}

.post-card .title {
    text-align: center;
}

.post-card .description {
    text-align: justify;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* Number of lines displayed before it truncate */
    overflow: hidden;
}

@media (max-width: 920px) {
    section {
        padding: 2rem 2rem;
    }

    section .container,
    section .slider,
    section .post-carousel {
        width: 100%;
    }
}

/* #endregion */

/* #region QuemSomosCards */

.action-card {
    width: 30% !important;
    display: flex;
    flex-direction: column;
    gap: 0 !important;
    border: 4px solid var(--green);
    border-bottom-width: 20px;
    border-radius: 10px;
    background: var(--white);
}

.action-card.blue {
    border-color: var(--blue);
}

.action-card.red {
    border-color: var(--red);
}

.action-card.yellow {
    border-color: var(--yellow);
}

.action-card .title {
    width: 100%;
    background: var(--green);
    padding: 0.5rem 1rem;
    text-align: center;
    color: white;
}

.action-card.blue .title {
    background: var(--blue);
}

.action-card.red .title {
    background: var(--red);
}

.action-card.yellow .title {
    background: var(--yellow);
}

.action-card p {
    width: 100%;
    padding: 0.5rem 1rem;
    text-align: center;
}

.person-card {
    width: 30%;
    max-width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
}

.person-card .pic {
    width: 80%;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
}

/* #endregion */

/* #region Perfil */

section .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

section .profile .pic {
    width: 200px;
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 50%;
}

section .profile .pic img {
    width: 100%;
}

section .profile .id {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

section .profile .id .name {
    font-size: x-large;
}

section .selectors {
    display: flex;
    gap: 1rem;
}

section .selectors button {
    text-transform: initial;
    background: var(--blue);
    padding: 0.6rem 1.2rem;
}

section .selectors button.selected {
    filter: brightness(0.8) contrast(1.3);
}

.data {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1.5rem 3rem;
    padding: 2rem 0;
}

.data .field {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: large;
}

.data .value {
    background: #b7bfcf;
    padding: 0.2rem 0.5rem;
    border-radius: 20px;
}

.data .password {
    font-size: xx-large;
    line-height: 1rem;
    align-content: center;
}

section.data {
    background: var(--white) !important;
}

/* #endregion */

/* #region Form */

.page-form form {
    min-width: 40rem;
    width: 30vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-self: center;
}

.form-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form .line {
    width: 100%;
    display: flex;
    gap: 1rem;
}

form span.title {
    text-transform: uppercase;
    width: 100%;
    background: var(--blue);
    color: white;
    padding: 0.5rem;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

@media (max-width: 700px) {
    .page-form form {
        min-width: 0;
        width: 100%;
    }

    .page-form form .line {
        flex-direction: column;
    }
}

.input {
    display: flex;
    align-items: center;
    border: 1px solid var(--blue);
    padding: 0.5rem;
    border-radius: 5px;
    width: 100%;
    gap: 0.25rem;
}

.input label {
    font-size: medium;
    text-wrap: nowrap;
    color: var(--blue);
}

.input input,
.input select {
    flex: 1;
    border: none;
    background: none;
    font-size: medium;
}

.input .turn {
    width: 20px;
    text-align: center;
    color: var(--blue);
}

.input .turn:hover {
    transform: scale(1);
    filter: initial;
}

.input .turn i {
    width: 100%;
}

input[type="date"] {
    cursor: text;
}

select {
    cursor: pointer;
}

.input input:focus,
.input select:focus {
    outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
}

form .finish {
    display: flex;
    flex-direction: column;
}

form .finish a {
    width: fit-content;
}

form .finish .btns {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

/* #endregion */

/* #region sla */

.none {
    all: initial;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

button.none {
    cursor: pointer;
}

.hidden {
    display: none;
}

a i,
button i,
span i,
i {
    user-select: none !important;
    -moz-user-select: none !important;
    -webkit-user-select: none !important;
    -webkit-user-drag: none !important;
}

/* #endregion */

/* #region MediaQueries */

@media (max-width: 1024px) {
    header .container {
        width: 100%;
        padding: 0.5rem 2rem;
    }
}

@media (max-width: 760px) {
    header {
        height: 76px;
    }

    .header-box {
        height: 76px;
    }
}

@media (max-width: 289px) {
    header .logo {
        width: 20vw;
        height: auto;
    }
}

@media (max-width: 580px) {
    header .globe .world {
        width: 120vw;
        height: 120vw;
    }

    header .globe .seal {
        width: 60vw;
        height: auto;
        right: 0vw;
        bottom: 14vw;
    }
}

@media (max-width: 340px) {
    .sidebar {
        width: 80vw;
        height: 100vh;
    }
}

@media (max-width: 1024px) {
    footer {
        font-size: 14px;
    }

    footer .container {
        width: 100%;
        min-width: 0;
        padding: 1rem 2rem;
    }

    footer .logos img {
        height: 70px;
    }
}

@media (max-width: 760px) {
    footer {
        font-size: 16px;
        height: fit-content;
        min-width: 230px;
    }

    footer .container {
        width: 100%;
        min-width: 0;
        flex-direction: column;
        gap: 4rem;
    }

    footer .logos {
        min-width: 224px;
        width: 224px;
    }

    footer .logos img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 760px) {
    section .slider {
        height: 40vw;
    }
}

@media (max-width: 600px) {
    section .container h1,
    section .container h2 {
        text-align: center;
    }

    section .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    section .row.start {
        align-items: start;
        text-align: center;
    }

    section .row.end {
        align-items: end;
        text-align: center;
    }

    section .container img {
        width: 100%;
    }

    section .container p {
        width: 100%;
    }

    section .action-card,
    section .person-card {
        width: 100% !important;
    }
}

/* #endregion */

/* #region Animações */

@keyframes rotation {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

@keyframes sticky {
    10% {
        transform: scaleX(1) scaleY(1);
    }

    30% {
        transform: scaleX(0.9) scaleY(1.1);
    }

    50% {
        transform: scaleX(1) scaleY(1);
    }

    70% {
        transform: scaleX(0.9) scaleY(1.1);
    }

    90% {
        transform: scaleX(1) scaleY(1);
    }
}

/* #endregion */
